.body {
  max-width: 800px;
}

.owner {
  text-decoration: none;
}

.owner:hover {
  text-decoration: underline;
}

.like-container {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
}

.like:hover {
  cursor: pointer;
}

.edit:hover {
  cursor: pointer;
}
